@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

.navigation {
  position: fixed;
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 9999;
  bottom: 0;
  left: 0;
  background-color: #333;
  color: #fff;
  justify-content: space-between;
}

.navigation .nav-item {
    padding-left: 2rem;
    padding-right: 2rem;
}

.self-user-marker {
  z-index: 9999;
}

.maplibregl-marker svg {
  visibility: hidden;
}

.maplibregl-marker {
  background: url("car.svg") no-repeat center bottom;
}

.maplibregl-marker.self-user-marker {
  background: url("car-current.svg") no-repeat center bottom;
}
